<ion-header>
  <ion-toolbar>
	<ion-buttons slot="start">
		<ion-back-button defaultHref="/"></ion-back-button>
	</ion-buttons>
    <ion-title>The Eternal Club</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding">
	<ion-list lines="none">
		<ion-item detail="true" *ngFor="let item of list$ | async" (click)="openItem(item.chapter)" #chapterList>
			<ion-label class="ion-text-wrap">
				<h3>Chapter {{ item.chapter }}</h3>
			</ion-label>
			<ion-badge slot="end" *ngIf="item.lastRead">Last read</ion-badge>
		</ion-item>
	</ion-list>
</ion-content>
